body 
      {margin-top: 20px; background-color: #000000;
       text-align:center; /* Hack for IE/Win */ 
      }


#content {
	width:950px;
	margin: 0px auto; 
	padding: 5px;
        text-align: left; /* Counteract to IE/Win Hack */
	border:1px dashed #333;
	background-color:#eee
         }    


/* NAVIGATION */


ul#mainNav {

	padding: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 100px; 
        
}
#mainNav li {
	float: left;
	width: 9em;
}

#mainNav a {
	text-decoration: none;
	color: #000000;
	font-size: 11px;
	border: 1px solid #999999;
	border-bottom: none;
	display: block;
	padding: 7px 5px 2px 30px;
	background: #E7E7E7 url(link.png) no-repeat left center;
}

#mainNav a:hover {
	font-weight: bold;
	background: #B2F511 url(go.png) no-repeat 5px 50%;
}

/* special formatting for home page link */
a#homeLink {
	background: #E7E7E7 url(home.png) no-repeat 5px 52%;
}



/* IE Fixes */

/* force hover on entire width of  link */
* html #mainNav a {
	height: 1px;
}

h2 {

background-image: url('background5.jpeg');
color: #a020f0;
text-align: center;
margin-top: 20px;
margin-left: 50px;
margin-right: 50px;
font-weight: normal; font-style:italic; font-variant:small-caps; font-size:27pt; font-family: Georgia;
}


p.main  {
font: 18pt 'Hoefler Text Regular';
color: #da142f;
background: #dacd9b;
text-indent: 1.5in;
margin-left: 75px;
margin-right: 75px;
text-align: justify;
border: solid;
padding: 15px;
}


p.lil {
font-size: 18pt;
font-variant: small-caps;
text-align: center;
font-weight: bold;
margin-left: 175px;
margin-right: 175px;
color: #d06e2a;
background: #4fee51;
}


#new  {
font-family: Verdana;
padding: 20px;
line-height: 18pt;
border-style: ridge;
border: 3px solid black;
background-color: #deb887;
font-size: 12pt;color: #ff0000;
text-align: justify;
font-weight: bold;
margin-left: 150px;
margin-right: 150px;
width: 525px;
      }

p.newext  {
font-family: 'comic sans ms';
padding: 15px;
line-height: 20pt;
border-style: solid;
background-color: #ff7500;
font-size: 14pt;
color: #000000;
text-align: left;
font-weight: normal;
margin-left: 100px;
margin-right: 100px;
width: 600px;
      }

a {

color: #a020f0; text-decoration: none;
}


a:hover { color:#8f0052;
text-decoration: underline;
background-color: #4fff2f;
}


address 
{
font-family: Impact, Arial;
font-size: 18pt;
font-weight: bold;
color: #000000;
}


.center {text-align: center;}